.popular-brands {
  min-width: 1200px;
  margin: 0 auto;
}

.popular-brands__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.popular-brands__item {
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-right: 17px;

  background: #ffffff;
  border: 1px solid #eaeaea;

  &:hover {
    box-shadow:  0px 5px 22px -1px #665c55;
  }
}

.popular-brands__item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands__link {
  display: flex;
  height: 100%;
}

.popular-brands img {
  margin: auto;
}
