@charset "UTF-8";
@font-face {
  font-family: 'Cuprum';
  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Cuprum Italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  background: #ffffff; }

.btn {
  color: #ffffff;
  background: #ee3643;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none; }
  .btn:hover {
    background: #ca2c37; }
  .btn:active {
    background: #ba2732; }

.icon {
  position: absolute;
  width: 20px;
  height: 20px; }

.modal {
  display: none; }

.visually-hidden {
  display: none; }

.column-center {
  width: 940px;
  margin: 0 auto; }

.main-header {
  width: 100%;
  min-width: 1200px;
  background: #f3f7f9;
  padding-bottom: 60px; }

.column-top {
  background: #293449; }

.column-top__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto; }

/*расположение логотипа*/
.column-top__logo {
  position: absolute;
  top: 0;
  left: 10px; }

.logo {
  padding: 9px 55px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #ee3643;
  border-bottom: 5px solid #b52933; }
  .logo:hover {
    background: #ca2c37; }
  .logo:active {
    background: #ba2732; }

/*расположение формы*/
.column-top__form-search {
  margin-left: 219px; }

.column-top__user-links {
  margin-left: auto; }

.form-search {
  position: relative; }

.form-search__input {
  width: 260px;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background: #293449;
  border: none;
  outline: none; }
  .form-search__input:hover {
    background: #212a3a; }
  .form-search__input:focus {
    background: #ffffff; }
  .form-search__input:hover + .form-search__icon {
    fill: #ffffff; }
  .form-search__input:focus + .form-search__icon {
    fill: #ee3643; }

.form-search__icon {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 17px;
  height: 17px;
  fill: rgba(255, 255, 255, 0.5); }

/*placeholder*/
.form-search__input::-webkit-input-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* webkit */
.form-search__input::-moz-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* Firefox 19+ */
.form-search__input:-moz-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* Firefox 18- */
.form-search__input:-ms-input-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  opacity: 1; }

/* IE */
.form-search__input:focus::-webkit-input-placeholder {
  color: #000000;
  opacity: 1; }

/* webkit */
.form-search__input:focus::-moz-placeholder {
  color: #000000;
  opacity: 1; }

/* Firefox 19+ */
.form-search__input:focus:-moz-placeholder {
  color: #000000;
  opacity: 1; }

/* Firefox 18- */
.form-search__input:focus:-ms-input-placeholder {
  color: #000000;
  opacity: 1; }

/* IE */
.user-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.user-links__item {
  position: relative;
  padding: 10px 35px;
  padding-left: 40px;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none; }
  .user-links__item:hover {
    background: #212a3a; }
  .user-links__item:hover .user-links__icon {
    fill: white; }
  .user-links__item:active {
    background: #161d29;
    opacity: 0.7; }
  .user-links__item:active .user-links__icon {
    fill: rgba(255, 255, 255, 0.7); }

.user-links__item--order {
  padding: 10px 20px;
  background: #63a63e; }
  .user-links__item--order:hover {
    background: #5fbb2d; }
  .user-links__item--order:active {
    background: #518534; }

.user-links__icon {
  position: absolute;
  left: 12px;
  width: 20px;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.5); }

/*активная корзина*/
.user-links__item--basket-active {
  background: #ee3643; }
  .user-links__item--basket-active:hover {
    background: #ca2c37; }
  .user-links__item--basket-active:active {
    background: #ba2732; }

.column-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto; }

/*распожение слогана*/
.column-middle__slogan {
  margin-top: 45px;
  margin-left: 60px; }

.slogan {
  width: 215px;
  color: #ee3643;
  font-family: 'Cuprum Italic', 'Arial Narrow', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal; }

/*распожение контактных данных*/
.column-middle__contacts {
  margin-top: 22px;
  margin-left: 55px; }

.contacts__phone {
  position: relative;
  padding: 10px 50px;
  padding-left: 70px;
  margin-bottom: 0;
  color: #ee3643;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: 3px solid #ffffff; }

.contacts__address {
  margin-top: 5px;
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center; }

.contacts__icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px; }

/*user-nav*/
.column-middle__user-nav {
  margin-left: auto; }

.user-nav {
  width: 335px;
  margin-top: 45px; }

.user-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.user-nav__item {
  position: relative; }

.user-nav__item--login:hover .user-nav__icon {
  fill: #32425c; }

.user-nav__item--login:active .user-nav__icon {
  fill: rgba(50, 66, 92, 0.2); }

.user-nav__link {
  display: inline-block;
  height: 20px;
  padding: 12px 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  color: #000000;
  background: #ffffff; }
  .user-nav__link:hover {
    color: #ee3643; }
  .user-nav__link:active {
    color: rgba(0, 0, 0, 0.3); }

.user-nav__link--login {
  padding-left: 45px; }

.user-nav__icon {
  top: 12px;
  left: 12px;
  fill: rgba(50, 66, 92, 0.2); }

/*catalog.html*/
.user-nav__item--authorized .user-nav__link:hover {
  color: black; }

.user-nav__item--authorized .user-nav__link:active {
  color: rgba(0, 0, 0, 0.3); }

.user-nav__link--authorized {
  padding: 12px 43px;
  padding-right: 70px; }

.user-nav__link-icon {
  position: absolute; }

.user-nav__link-icon--logout {
  top: 15px;
  right: 20px; }

.user-nav__link-icon--user {
  top: 13px;
  left: 12px; }

.user-nav__icon {
  width: 20px;
  height: 18px;
  fill: rgba(50, 66, 92, 0.2); }
  .user-nav__icon:hover {
    fill: #32425c; }
  .user-nav__icon:active {
    fill: rgba(50, 66, 92, 0.2); }

user-nav__link--authorized:hover ~ .user-nav__link-icon .user-nav__icon {
  fill: #32425c; }

.user-nav__link--authorized:active ~ .user-nav__link-icon .user-nav__icon {
  fill: rgba(50, 66, 92, 0.2); }

.user-nav__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 15px; }

.user-nav__subitem {
  position: relative;
  margin-top: 5px;
  margin-right: 32px; }
  .user-nav__subitem a:hover {
    color: #ee3643; }
  .user-nav__subitem a:active {
    color: #32425c;
    opacity: 0.4; }
  .user-nav__subitem:nth-last-child(1) {
    margin-right: 0; }

.user-nav__subitem a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c; }

.user-nav__subitem::before {
  content: "";
  display: block;
  position: absolute;
  right: -20px;
  top: 6px;
  width: 4px;
  height: 4px;
  background: #32425c;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.user-nav__subitem:nth-last-child(1)::before {
  display: none; }

.site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 25px; }

.site-nav__link {
  padding: 19px 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background: #32425c;
  border-bottom: 5px solid #293449;
  text-decoration: none; }
  .site-nav__link:hover {
    background: #293449; }
  .site-nav__link:active {
    color: rgba(255, 255, 255, 0.6); }

.site-nav__link:nth-child(1) {
  padding-left: 53px; }

.site-nav__link:nth-child(7) {
  padding-right: 52px;
  padding-left: 35px; }

/*promo*/
.promo {
  min-width: 1200px;
  margin: 0 auto; }

.promo__column-center {
  padding: 0 10px;
  margin-top: 57px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }

.promo__block {
  position: relative;
  width: 300px;
  height: 125px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  /*нумерация сделана для того, чтобы вставка одинаковых элементов не ломала сетку*/ }
  .promo__block:nth-child(1) {
    -webkit-box-ordinal-group: -3;
    -webkit-order: -4;
    -ms-flex-order: -4;
    order: -4; }
  .promo__block--theme-material {
    background: #ffbf47; }
  .promo__block:nth-child(2) {
    -webkit-box-ordinal-group: -2;
    -webkit-order: -3;
    -ms-flex-order: -3;
    order: -3; }
  .promo__block--theme-tool {
    background: #3bbce3; }
  .promo__block:nth-child(2) {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2; }
  .promo__block--theme-technic {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
    background: #dc91d8; }
  .promo__block--theme-discount {
    background: #8ed78f; }
  .promo__block--theme-delivery {
    background: #ffc047; }

.promo__block:nth-child(1) {
  margin-left: 0; }

.promo__block:nth-child(5) {
  position: absolute;
  right: 10px;
  top: 287px; }

.promo__icon {
  position: absolute;
  right: 15px;
  top: 35px;
  width: 90px;
  height: 70px;
  fill: #ffffff; }

.promo__block--theme-material .promo__icon {
  right: 0; }

.promo__block--theme-discount .promo__icon {
  top: 25px; }

.promo__title {
  margin-left: 22px;
  margin-bottom: 10px;
  font-family: 'Cuprum Bold', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 30px; }

.promo__link {
  display: block;
  width: 136px;
  padding: 10px 0;
  margin-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Cuprum Bold', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  .promo__link:hover {
    background: rgba(0, 0, 0, 0.2); }
  .promo__link:active {
    background: rgba(0, 0, 0, 0.3); }

/*расположение слайдера*/
.promo__slider {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

/*catalog.html*/
.goods {
  width: 700px; }

.goods__item {
  margin-right: 20px; }
  .goods__item:nth-child(3n) {
    margin-right: 0; }

/*index.html*/
.popular-goods {
  min-width: 1200px;
  margin: 0 auto;
  margin-top: 35px; }

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.goods__item {
  position: relative;
  width: 218px;
  padding-bottom: 5px;
  min-height: 310px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-family: 'PT Sans Bold', 'Tahoma', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center; }
  .goods__item--new::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    background: url("../img/new-flag.png") no-repeat;
    z-index: 2; }
  .goods__item:hover {
    -webkit-box-shadow: 0px 5px 22px -1px #665c55;
    box-shadow: 0px 5px 22px -1px #665c55; }
  .goods__item:hover .goods__hover {
    display: block; }

.goods__wrapper-img:focus ~ .goods__hover {
  display: block; }

.goods__list--popular .goods__item:nth-child(3n) {
  margin-right: 20px; }

.goods__list--popular .goods__item:nth-child(4n) {
  margin-right: 0; }

.goods__title {
  margin-top: 15px;
  margin-bottom: -5px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 20px; }

.goods__old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  cursor: default; }

.goods__price {
  display: inline-block;
  position: absolute;
  bottom: 21px;
  left: 45px;
  padding: 10px 30px;
  margin-bottom: -5px;
  color: #ffffff;
  background: #ee3643;
  cursor: default;
  vertical-align: center; }

.goods__price::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -36px;
  border: 18px solid transparent;
  border-left: 18px solid #ee3643; }

/*всплывающий блок*/
.goods__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 7px;
  width: 200px;
  height: 150px;
  background: #ffffff; }

.goods__link {
  display: block;
  width: 137px;
  height: 38px;
  padding-top: 10px;
  padding-left: 8px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: -2px;
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.goods__link--buy {
  position: relative;
  margin-top: 45px;
  color: #ffffff;
  background: #63a63e;
  border-bottom: 3px solid #367315; }
  .goods__link--buy:hover {
    background: #5fbb2d; }
  .goods__link--buy:hover .goods__icon {
    fill: white; }
  .goods__link--buy:active {
    background: #518534; }

.goods__link--mark {
  margin-top: 10px;
  border: 3px solid #63a63e; }
  .goods__link--mark:hover {
    border: 3px solid #32425c; }
  .goods__link--mark:active {
    opacity: 0.4; }

.goods__icon {
  top: 10px;
  left: 18px;
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.6); }

.pop-block {
  width: 940px;
  padding: 5px 0;
  margin-bottom: -2px;
  background: #f9f5f0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.popular-brands__block {
  margin-top: 0px;
  padding: 6px 0; }

.pop-title {
  display: inline-block;
  margin-left: 30px;
  color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: center; }

.popular__link {
  display: inline-block;
  float: right;
  margin-right: 24px;
  margin-top: 19px;
  padding: 10px 55px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  vertical-align: center; }

.popular-brands .popular__link {
  margin-top: 22px;
  padding: 11px 70px; }

.popular-brands {
  min-width: 1200px;
  margin: 0 auto; }

.popular-brands__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.popular-brands__item {
  width: 220px;
  height: 145px;
  margin-top: 20px;
  margin-right: 17px;
  background: #ffffff;
  border: 1px solid #eaeaea; }
  .popular-brands__item:hover {
    -webkit-box-shadow: 0px 5px 22px -1px #665c55;
    box-shadow: 0px 5px 22px -1px #665c55; }

.popular-brands__item:nth-child(4n) {
  margin-right: 0; }

.popular-brands__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.popular-brands img {
  margin: auto; }

.services {
  width: 100%;
  min-width: 1200px;
  background: #f4f8fa;
  margin-top: 80px; }

.services__wrapper {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  border: 1px solid transparent; }

.services__title {
  margin-top: 65px;
  margin-bottom: 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase; }

.services__text {
  width: 400px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.services__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
  margin-top: 69px;
  margin-bottom: 100px; }
  .services__list:after {
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 300px;
    width: 10px;
    background: url(../img/line.png) no-repeat; }

.services__link {
  display: block;
  padding: 15px;
  padding-left: 22px;
  font-family: 'Cuprum Bold', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background: #32425c;
  border-bottom: 1px solid #4d637b; }
  .services__link:nth-last-child(1) {
    border-bottom: 0; }
  .services__link:hover {
    background: #293449; }
  .services__link--active {
    color: #4d637b;
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    cursor: default; }
    .services__link--active:hover {
      background: #ffffff; }

.services-popup {
  display: none;
  position: absolute;
  top: -5px;
  left: 320px;
  height: 285px;
  width: 620px; }

.services-popup--active {
  display: block; }

.services-popup--delivery {
  background: url(../img/services-1.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--delivery .services-popup__text {
    width: 278px; }

.services-popup--guarantee {
  background: url(../img/services-2.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--guarantee .services-popup__text {
    width: 381px; }

.services-popup--loan {
  background: url(../img/services-3.png) no-repeat;
  background-position: 100% 100%; }
  .services-popup--loan .services-popup__text {
    width: 295px; }
  .services-popup--loan .services-popup__link {
    display: inline-block;
    padding: 10px 50px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 15px;
    vertical-align: center; }

.services-popup__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Cuprum Bold', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase; }

.services-popup__text {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.base-info {
  min-width: 1200px;
  margin: 0 auto; }

.base-info__column-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  padding-bottom: 87px;
  margin-top: 45px; }

.info-title {
  margin-bottom: 25px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }

.info-text {
  margin-bottom: 25px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.company-info {
  width: 520px; }

.company-info__link {
  display: inline-block;
  margin-top: 17px;
  padding: 10px 40px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: center; }

.transport-company__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -5px; }

.transport-company__item {
  position: relative;
  margin-left: 35px;
  margin-bottom: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px; }

.transport-company__item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -35px;
  width: 25px;
  height: 2px;
  background: #ee3643; }

/*catalog.html*/
.main {
  min-width: 1200px; }

.main__column-center {
  padding: 0 10px; }

.breadcrumbs {
  position: relative;
  margin-top: 20px;
  margin-left: 55px; }

.breadcrumbs__icon {
  position: absolute;
  left: -57px;
  top: 2px;
  width: 20px;
  height: 20px; }

.breadcrumbs__link {
  position: relative;
  margin-right: 36px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; }

.breadcrumbs__link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;
  width: 15px;
  height: 15px;
  background: url("../img/icon-right-small.svg") no-repeat; }

.main__title {
  padding: 30px 0;
  padding-left: 27px;
  margin-top: 19px;
  margin-bottom: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
  background: #f2f6f8; }

/**/
.main__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.sidebar {
  width: 225px; }

.sidebar__title {
  padding: 9px 0;
  width: 200px;
  margin-top: 18px;
  padding-left: 20px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f7f3ec; }

.filter-form fieldset {
  padding: 0;
  padding-bottom: 25px;
  margin-left: 0;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5; }

.filter-form legend {
  font-family: 'PT Sans Bold', 'Tahoma', sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase; }

/*brands*/
.filter-form .filter-brands {
  margin-top: 15px;
  padding-bottom: 10px; }

.filter-brands legend {
  margin-bottom: 10px; }

.filter-brands__input {
  display: none; }

.filter-brands__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-left: 33px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer; }

.filter-brands__input + .filter-brands__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -38px;
  width: 40px;
  height: 35px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -4px -80px; }

.filter-brands__input:checked + .filter-brands__label::before {
  background: url("../img/sprite.png") no-repeat;
  background-position: -12px -127px; }

/*стили для наведения*/
.filter-brands__input + .filter-brands__label:hover::before {
  background: url("../img/sprite.png") no-repeat;
  background-position: -4px -2px; }

.filter-brands__input:checked + .filter-brands__label:hover::before {
  background: url("../img/sprite.png") no-repeat;
  background-position: -12px -205px; }

.filter-brands__label--default {
  opacity: 0.5;
  cursor: default; }

/*power-filter */
.filter-power {
  margin-top: 17px; }

.filter-power__input {
  display: none; }

/*label общие стили*/
.filter-power__label {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 12px;
  margin-left: 33px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer; }

.filter-power__input + .filter-power__label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 3px;
  left: -33px;
  border: 4px solid #c5c5c5;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.filter-power__input:checked + .filter-power__label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  left: -25.5px;
  background: #c5c5c5;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

/*стили для наведения*/
.filter-power__input + .filter-power__label:hover::before {
  border: 4px solid #b5b5b5; }

.filter-power__input:checked + .filter-power__label:hover::after {
  background: #b5b5b5; }

/*стили для неактивного элемента*/
.filter-power__label--default {
  opacity: 0.5;
  cursor: default; }

.filter-power__input + .filter-power__label--default:hover::before {
  border: 4px solid #c5c5c5; }

.filter-power__input:checked + .filter-power__label--default:hover::after {
  background: #c5c5c5; }

.filter-form__button {
  margin-top: 25px;
  padding: 10px 37px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  border: 1px solid #e5e5e5;
  cursor: pointer; }

.filter-form__button:hover {
  border: 1px solid #bdc6ca; }

.filter-form__button:active {
  border: 1px solid #ee3643;
  outline: none; }

.goods-sorting {
  position: relative;
  padding: 0px 18px;
  margin-top: 16px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #f7f3ec; }

.goods-sorting__title {
  display: inline-block;
  margin-right: 135px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 12px;
  text-transform: uppercase;
  vertical-align: center; }

.goods-sorting__link {
  display: inline-block;
  margin-right: 63px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: center;
  color: #acaaa5;
  border-bottom: 1px dashed #ee3643; }
  .goods-sorting__link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643; }
  .goods-sorting__link:active {
    color: #ee3643;
    border: none; }
  .goods-sorting__link--active {
    color: #ee3643;
    border: none;
    cursor: default; }
    .goods-sorting__link--active:hover {
      color: #ee3643;
      border: none; }

.goods-sorting__link--active {
  color: #ee3643;
  border: none; }

/*треугольнички*/
.goods-sorting__link--top {
  font-size: 0;
  position: absolute;
  bottom: 12px;
  right: -17px;
  border: 6px solid transparent;
  border-bottom: 10px solid #c5c5c5; }

.goods-sorting__link--bottom {
  font-size: 0;
  right: -50px;
  top: 15px;
  position: absolute;
  border: 6px solid transparent;
  border-top: 10px solid #c5c5c5; }

.goods-sorting__link--top:hover {
  border: 6px solid transparent;
  border-bottom: 10px solid #231f20; }

.goods-sorting__link--bottom:hover {
  border: 6px solid transparent;
  border-top: 10px solid #231f20; }

.goods-sorting__link--top.goods-sorting__link--active {
  border: 6px solid transparent;
  border-bottom: 10px solid #ee3643;
  cursor: default; }

.goods-sorting__link--bottom.goods-sorting__link--active {
  border: 6px solid transparent;
  border-top: 10px solid #ee3643;
  cursor: default; }

.contacts-info {
  width: 300px; }

.contacts-info__link {
  display: inline-block;
  padding: 10px 61px;
  margin-top: 38px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: center; }

.contacts-info__title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal; }

.contacts-info__text {
  font-family: "PT Sans", 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.map {
  margin-top: 30px; }
  .map__link {
    display: block;
    height: 158px; }
  .map:hover {
    -webkit-box-shadow: 0px 5px 22px -1px #665c55;
    box-shadow: 0px 5px 22px -1px #665c55; }

.pagination {
  margin-top: 35px; }

.pagination__link {
  display: inline-block;
  margin-right: 5px;
  padding: 10px 15px;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: center;
  list-style: none;
  color: #000000;
  border: 1px solid #c5c5c5;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .pagination__link--last {
    padding: 10px 31px; }
  .pagination__link:hover {
    border: 1px solid #b0afaf; }
  .pagination__link:active {
    border: 1px solid #ee3744;
    color: #000000; }
  .pagination__link--active {
    color: #ffffff;
    background: #ee3744;
    border: none;
    pointer: default; }
    .pagination__link--active:hover {
      border: none; }

.info-goods {
  margin-top: 60px;
  padding-bottom: 52px;
  background: #f2f6f8; }

.info-goods__inner {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  border: 1px solid transparent; }

.info-goods__title {
  margin-top: 65px;
  margin-bottom: 30px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal; }

.info-goods__text {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 24px; }

.modal-feedback {
  display: none;
  width: 625px;
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 6;
  margin: auto;
  border-top: 6px solid red;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 7px 29px 0px #000000;
  box-shadow: 0px 7px 29px 0px #000000; }

.form-feedback__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 80px;
  padding-bottom: 35px;
  background: #ffffff; }

.form-feedback__label {
  width: 218px;
  margin-right: 28px;
  font-family: 'Cuprum Bold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px; }

.form-feedback__label:nth-child(2n) {
  margin-right: 0; }

.form-feedback__input {
  width: 218px;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  border: none;
  border: 2px solid #dee3e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .form-feedback__input:hover {
    border: 2px solid #bdc6ca; }
  .form-feedback__input:focus {
    border: 2px solid #ee3643;
    outline: none; }

.form-feedback__label--textarea {
  width: 100%;
  margin-top: 20px; }

.form-feedback__textarea {
  width: 100%;
  height: 110px;
  margin-top: 5px;
  padding: 10px 15px;
  border: none;
  border: 2px solid #dee3e4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none; }
  .form-feedback__textarea:hover {
    border: 2px solid #bdc6ca;
    outline: none; }
  .form-feedback__textarea:focus {
    border: 2px solid #ee3643;
    outline: none; }

.form-fedback__button {
  padding: 10px 200px;
  margin: 35px 0;
  margin-left: 85px;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .form-fedback__button:hover, .form-fedback__button:focus {
    background: #ca2c37;
    outline: none; }
  .form-fedback__button:active {
    background: #ba2732;
    outline: none; }

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background: #ffffff;
  border: none;
  cursor: pointer; }
  .modal-close__icon {
    width: 22px;
    height: 22px;
    fill: #ee3643; }
  .modal-close:hover .modal-close__icon {
    fill: #ca2c37; }
  .modal-close:active .modal-close__icon {
    fill: #000000; }

/*placeholder*/
.form-feedback__input::-webkit-input-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* webkit */
.form-feedback__input::-moz-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* Firefox 19+ */
.form-feedback__input:-moz-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* Firefox 18- */
.form-feedback__input:-ms-input-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* IE */
/*placeholder*/
.form-feedback__textarea::-webkit-input-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* webkit */
.form-feedback__textarea::-moz-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* Firefox 19+ */
.form-feedback__textarea:-moz-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* Firefox 18- */
.form-feedback__textarea:-ms-input-placeholder {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  opacity: 1; }

/* IE */
.modal-map {
  position: relative;
  display: none;
  width: 940px;
  height: 450px;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  z-index: 5;
  margin: auto;
  -webkit-box-shadow: 0px 7px 29px 0px #000000;
  box-shadow: 0px 7px 29px 0px #000000; }

.modal--show {
  display: block; }

.modal-close--map {
  display: absolute;
  z-index: 1;
  width: 40px;
  background: transparent; }

.modal-basket {
  display: none;
  width: 620px;
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 6;
  margin: auto;
  border-top: 6px solid red;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 7px 29px 0px #000000;
  box-shadow: 0px 7px 29px 0px #000000; }

.modal--show {
  display: block; }

.modal-basket__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding: 68px 0;
  padding-left: 177px;
  background: #ffffff; }

.modal-basket__link {
  display: inline-block;
  margin: 25px 0;
  margin-bottom: 35px;
  padding: 10px 60px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: center;
  margin-right: 20px;
  color: #000000;
  background: #ffffff; }

.modal-basket__link--buy {
  margin-left: 80px;
  color: #ffffff;
  background: #ee3643; }

.modal-basket__link--next-buy:hover {
  color: #ee3643; }

.modal-basket__link--next-buy:active {
  color: #000000;
  opacity: 0.7; }

.modal-basket__wrapper-icon {
  display: block;
  position: absolute;
  top: 50px;
  left: 85px;
  z-index: 6;
  width: 67px;
  height: 67px;
  background: #63a63e;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.modal-basket__icon {
  margin-top: 15px;
  margin-left: 8px;
  width: 50px;
  height: 45px;
  fill: #ffffff; }

.range-controls {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 220px;
  height: 80px;
  background: #f7f3ec;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.scale {
  position: relative;
  top: 39px;
  left: 20px;
  width: 180px;
  height: 2px;
  background: #d7dcde; }

.bar {
  width: 160px;
  height: 2px;
  background: #00ca74; }

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ababab;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer; }

.range-toggle:hover {
  background: #1c4f80; }

.range-toggle-min {
  top: -11px; }

.range-toggle-max {
  top: -11px;
  right: 20px; }

.price-controls__input {
  width: 95px;
  padding: 10px 0;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background: #f7f3ec;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.price-controls__input--min {
  margin-right: 25px; }

.min-price::after {
  content: "";
  width: 10px;
  height: 2px;
  background: #000000; }

.footer {
  width: 100%;
  min-width: 1200px;
  background: #32425c; }

/*верхняя часть подвала*/
.footer__column-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 30px; }

.footer__logo {
  position: absolute;
  left: 10px;
  font-size: 30px;
  line-height: 30px;
  padding: 17px 42px; }

.footer__contacts {
  display: inline-block;
  width: 340px;
  margin-top: 80px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  vertical-align: center; }

.footer__address {
  margin-bottom: 0; }

.footer__phone {
  margin-top: 0; }
  .footer__phone a {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff; }

/*нижняя часть подвала*/
.footer__column-bottom {
  background: #293449; }

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  padding-bottom: 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff; }

.footer__text {
  margin-top: 37px; }

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 400px;
  margin-top: 20px; }

.copyright__link {
  margin-right: 10px;
  margin-left: 45px; }

.copyright__link a {
  color: #ffd180;
  text-decoration: none; }
  .copyright__link a:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
  .copyright__link a:active {
    color: #ee3643;
    text-decoration: none; }

.footer-nav {
  width: 610px; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.footer-nav__link {
  margin-left: 58px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none; }
  .footer-nav__link:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
  .footer-nav__link:active {
    opacity: 0.5;
    text-decoration: none; }

.footer-nav__list--top .footer-nav__link {
  color: #ffffff; }

.footer-nav__list--bottom .footer-nav__link {
  color: #ffd180; }

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 145px;
  margin-top: 35px;
  margin-left: 145px;
  padding-bottom: 30px; }

.social__link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background: #212a3a;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 0; }
  .social__link:hover, .social__link:active {
    background: #ee3643; }

.social__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  fill: #ffffff; }

.social__icon--vk {
  top: 13px;
  left: 7px; }

.social__icon--fb {
  top: 8px;
  left: 13px; }

.social__icon--inst {
  top: 10px;
  left: 10px; }
