.page-footer {
  padding: 10.9% 23.4% 6.25% 23.4%;
  text-align: center;
}

.page-footer__caption {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__link {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  color: $color-link-black;
}

.page-footer__social {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    padding: 4.5% 0% 4.5% 7.8%;
  }
}
// исправить список и подвал после flex-bugs
