.copyright__icon {
	margin-top: 20px;
    margin-left: 15px;
    width: 120px;
    height: 40px;
}

.copyright__text {
	margin-top: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 13px;
    line-height: 18px;
}

.copyright__link {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 13px;
    line-height: 18px;

    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
 	color: #ffffff;
}

.copyright__link:hover {
	color: #e84d37;
	border-bottom: 1px solid #e84d37;
}