$color-font-white: #ffffff;
$color-font-black: #000000;
$color-background-blue: #81b3d2;
$color-background-gray: #eeeeee;
$color-link-black: #000000;
$color-placeholder-black: #000000;

$tablet-width: 768px;
$desctop-width: 1190px;
