.breadcrumbs {
	width: 1150px;
	margin: 0 auto;
	margin-top: 20px;
}

.breadcrumbs__link {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs .breadcrumbs__link:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.5);
}

.breadcrumbs .breadcrumbs__link--active {
	border-bottom: none;

	&:hover {
		color: #ffffff;
		border-bottom: 1px solid rgba(255, 188, 158, 0);
		cursor: default;
	}

	&:active {
		color: #ffffff;
		cursor: default;
	}
}