.pagination {
	position: relative;
	width: 1150px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 15px;

	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination__list {
	padding: 0;
    list-style: none;
    display: flex;
    float: right;
    margin-right: 20px;
}

.pagination__item {
	margin-left: -5px;
}

.pagination__link {
	padding: 3px 8px;
    margin-right: 9px;

	color: #ffffff;
	text-decoration: none;

	&:hover {
		color: #ffffff;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 20px;
	}

	&--active {
		color: #000000;
		background: #ffffff;
		border-radius: 20px;
	}

	&--active:hover {
		color: #000000;
		background: #ffffff;
		border-radius: 20px;
	}
}

.pagination__button {
	position: absolute;
	width: 10px;
	height: 20px;
	font-size: 0;
	
	border: none;
	background: transparent;
}

.pagination__button--next {
	top: 17px;
    right: 5px;
}

.pagination__button--prev {
	top: 11px;
    right: 185px;
    transform: rotate(180deg);
}

.pagination__icon {
	width: 10px;
	height: 20px;
	fill: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.pagination__icon--default {
	fill: rgba(255, 255, 255, 0.4);
}