html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #849d8f;
	color: #ffffff;
	font-family: 'Roboto', 'Arial', sans-serif;
}

a:hover {
	color: #e84d37;
}

a.bnt:hover {
	color: #ffffff;
}

.bnt {
	font-family: 'Roboto Bold', 'Arial', sans-serif;
	font-size: 18px;
    line-height: 24px;
	color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	border: none;
	background: #ee5e3f;
	background: linear-gradient(to top, #e74b36, #f26843);
	box-shadow: 0px 4px 14px -5px #000000;
}

.bnt:hover,
.bnt:focus {
	background: #f28066;
	background: linear-gradient(to top, #ed715f, #f58669);
	border-bottom: 2px solid #ac1000;
	outline: none;
	box-shadow: none;
}

.bnt:active {
	background: linear-gradient(to top, #f26843, #e74b36);
	border-top: 2px solid #ac1000;
	border-bottom: none;
	box-shadow: none;
}

.int::-webkit-input-placeholder {color:#d3d3d2;}
.int::-moz-placeholder          {color:#d3d3d2;}/* Firefox 19+ */
.int:-moz-placeholder           {color:#d3d3d2;}/* Firefox 18- */
.int:-ms-input-placeholder      {color:#d3d3d2;}

.int {
	border: none;
    border: 1px solid #d3d3d2;
}

.column-center {
	width: 1150px;
	margin: 0 auto;
}

.background-color{
  animation: background 15S linear infinite ;
  transition: background .5s linear ;
}

@keyframes background{
  0%{
    background: #849d8f;
  }
  38%
  {
    background: #8a97a7;
  }

  66% {
	background: #9d8b84;	
  }

  98%{
    background: #9d8b84;
  }

  100%{
    background: #849d8f;
  }
}

.overlay::before {
	content: "";
	display: block;
	position: fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index: 10;
}