// для сетки
.content-search {
  padding: 9% 6.25% 12.5% 6.25%;
  text-align: center;
}

.content-search__caption {
  font-size: 21px;
}

.content-search__text {
  line-height: 24px;
  margin-top: 5%;
}

// стили голубой кнопки "найти гостинницу"
.content-search__button {
  width: 210px;
  height: 30px;
  margin-top: 10%;
  padding: 0 12.5%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*-------------------------------------Планшетная версия----------------------------------------*/
@media (min-width: $tablet-width) {
  .content-search {
    padding: 7.2% 20.2% 7.5% 20.2%;
  }

  .content-search__caption {
    font-size: 30px;
    line-height: 26px;
  }

  .content-search__button {
    margin-top: 10%;
    padding: 0 29%;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

/*-------------------------------------Десктопная версия----------------------------------------*/
@media (min-width: $desctop-width) {
  .content-search {
    padding: 4.8% 30.4% 5.4% 30.4%;
  }
}
