/*-------------------------------------Мобильная версия------------------------------------------*/
.features-list {
  @include list-style-none;
}

.features-list__inner .text {
  margin: 0;
}

// голубые блоки
.features-list__inner--blue {
  padding: 12.5% 6.25%;

  text-align: center;
  background-color: $color-background-blue;
  color: $color-font-white;
}

.features-list__inner--decoration {
  position: relative;
  padding-top: 18.75%;
}

.features-list__inner--decor {
  position: absolute;
  width: 102%;
  left: -1%;
  top: -5px;
}

.features-list__inner--blue span {
  display: inline-block;
  margin-top: 3.1%;
  margin-bottom: 4.6%;
}

.container-background {
  height: 256px;
  background-position: 50% 50%;
}

.container-background--one {
  background: #ffffff url(../img/main-city-tablet@1x.jpg) no-repeat;
}

.container-background--two {
  background: #ffffff url(../img/main-bridge-tablet@1x.jpg) no-repeat;
}

// список (жилье, сувениры, еда)
.features-sublist {
  @include list-style-none;
  padding: 9.4% 9.4% 2.5% 20.9%;
}

.features-sublist__item {
  margin-bottom: 9.4%;
}

.features-sublist__caption {
  position: relative
}

.features-sublist__caption::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -50px;

  width: 40px;
  height: 40px;
}

.features-sublist__caption--housing::before {
  background: url("../img/icon-house.svg") no-repeat;
}

.features-sublist__caption--souvenirs::before {
  background: url("../img/icon-gift.svg") no-repeat;
}

.features-sublist__caption--food::before {
  background: url("../img/icon-burger.svg") no-repeat;
}

// серые блоки
.features-list__item--gray {
  padding: 7.8% 9.4% 0 9.4%;
  background-color: $color-background-gray;
}

.features-list__inner--gray {
  padding-bottom: 9.4%;

  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.features-list__inner--gray-last {
  border: none;
}

.features-list__inner--gray span {
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 4.6%;
}

// подгружается более длинная картинка так как предыдущей не хватает
@media (min-width: 510px) {
  .container-background--one {
    background: #ffffff url(../img/main-city-desktop@1x.jpg) no-repeat;
    background-position: -45px -40px;
    // background: cover;
  }

  .container-background--two {
    background: #ffffff url(../img/main-bridge-desktop@1x.jpg) no-repeat;
    background-position: -45px -40px;
  }
}

// чтобы смотрелось красивее
@media (min-width: 620px) {
  .features-list__inner--blue .caption {
    font-size: 21px;
  }
}

/*-------------------------------------Планшетная версия----------------------------------------*/
// в данном случае переход на планшетную версию происходит раньше
@media (min-width: $tablet-width) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list__item {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .features-sublist {
    display: flex;
    padding: 162px 0px 25px 0px;
  }

  .features-sublist__item {
    width: 21.5%;
    margin-left: 5.9%;
    margin-right: 5.6%;

    text-align: center;
  }

  .features-sublist__item .caption {
    font-size: 21px;
  }

  .features-sublist__item .text {
    margin-top: 21px;
  }

  .features-sublist__item--housing {
    order: -2;
  }

  .features-sublist__item--food {
    order: -1;
  }

  .features-sublist__caption::before {
    top: -100px;
    width: 77px;
    height: 77px;
  }

  .features-sublist__caption--housing::before {
    left: -5px;
  }

  .features-sublist__caption--souvenirs::before {
    left: 15px;
  }

  .features-sublist__caption--food::before {
    left: -20px;
  }

// голубые блоки
  .features-list__inner.features-list__inner--blue {
    width: 22.5%;
    flex-grow: 1;
    padding: 43px 5%;
  }

  .features-list__inner--decoration {
    padding: 43px 5%;
  }

  .features-list__inner--blue span {
    margin-bottom: 25px;
  }

  .features-list__inner--blue {
    order: 1;
  }

  .features-list__inner--decoration {
    order: 0;
  }

  .features-list__inner--decor {
    display: none;
  }

  .container-background {
    width: 510px;
    height: 255px;
  }

  .container-background--one {
    background: #ffffff url(../img/main-city-tablet@1x.jpg) no-repeat;

  }

  .container-background--two {
    background: #ffffff url(../img/main-bridge-tablet@1x.jpg) no-repeat;
  }

// серые блоки
  .features-list__item--gray {
    flex-grow: 0;
    width: 33.333333%;
    padding: 0;
  }

  .features-list__inner--gray {
    border-bottom: none;
    padding: 0 54px;
    padding-top: 50px;
    padding-bottom: 45px;

    border-bottom: none;
  }

  .features-list__inner--gray .caption {
    font-size: 21px;
  }
}

/*-------------------------------------Дексктопная версия----------------------------------------*/
@media (min-width: $desctop-width) {
  .features-sublist__item {
    width: 40%;
    margin-left: 4.8%;
    margin-right: 4.8%;
    margin-bottom: 50px;
    text-align: center;
  }

  // голубые блоки
  .features-list__inner.features-list__inner--blue {
    padding: 43px 5.3%;
  }

  .features-list__inner--decoration {
    padding: 43px 5%;
  }

  .features-list__inner--blue .text {
    margin: 0 9%;
  }

  .features-list__inner--decoration .text {
    margin: 0 6%;
  }

  .features-list__inner--decoration {
    padding: 43px 5%;
  }

  .features-list__inner--blue span {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .container-background {
    width: 800px;
  }

  .container-background--one {
    background: #ffffff url(../img/main-city-desktop@1x.jpg) no-repeat;

  }

  .container-background--two {
    background: #ffffff url(../img/main-bridge-desktop@1x.jpg) no-repeat;
  }

  .features-list__inner--gray {
    padding: 0 65px;
    padding-top: 70px;
    padding-bottom: 60px;
  }

  .features-list__inner--gray span {
    margin: 20px 0;
  }
}
