.form-feedback__section--place {
  width: 280px;
  margin: 0 auto;
}

.section__content--place {
  margin-right: 70px;
}

.section__label--place {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 47px;
  padding-top: 10px;
  padding-left: 70px;
  margin-bottom: 25px;
}

.section__input--place {
  display: none;
}

.section__input--place + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;

  border-radius: 10%;
  background: #e5e5e5;
}

.section__input--place:checked + label::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 21px;
  height: 21px;

  border-radius: 100%;
  background: url("../img/icon-tick.svg") no-repeat;
}

// переход на планшетную версию сайта осуществляется раньше
@media (min-width: 650px) {
  .form-feedback__section--place {
    width: 80%;
  }

  .section__content--place {
    margin-right: 0px;
  }

  .section__label--place {
    margin-left: 35px;
  }

  .form-feedback__section--place .section__caption {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-feedback__section--place .section__caption::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -40px;
    width: 130px;
    border-top: 1px solid #e6e6e6;
  }

  .form-feedback__section--place .section__caption::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -40px;
    width: 130px;
    border-top: 1px solid #e6e6e6;
  }
}

@media (min-width: $desctop-width) {
  .form-feedback__section--place {
    width: 960px;
  }

  .section__label--place {
    margin-left: 0;
    margin-right: 45px;
  }

  .section__content--place .section__label--place:nth-last-child(1) {
    margin-left: 3px;
    margin-right: 0;
    text-align: right;
  }

  .form-feedback__section--place .section__caption {
    margin-bottom: 50px;
  }

  .form-feedback__section--place .section__caption::before {
    left: 0;
    width: 290px;
  }

  .form-feedback__section--place .section__caption::after {
    right: 0;
    width: 290px;
  }
}
